/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(720deg);
    }
}

@keyframes rotateYReverse {
    from {
        transform: rotateY(720deg);
    }
    to {
        transform: rotateY(0deg);
    }
}


.rotate-y-180:hover > * {
    animation: rotateY 2s forwards;
}

.rotate-y-180 > * {
    transition: transform 2s;
}

.rotate-y-180:not(:hover) > * {
    animation: rotateYReverse 2s forwards;
}

@media (max-width: 1024px) {
    /* On touch devices do not rotate reverse */
    .rotate-y-180:not(:hover) > * {
        animation: none;
    }

    .rotate-y-180 > * {
        transition: transform 2s;
    }

    .rotate-y-180:hover > * {
        animation: rotateYReverse 2s forwards;
    }
}
