@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    --primary-1: #EA4848;
}

.app-icon {
    display: flex;
    align-items: center;
}